<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="936e7b72-a5ca-4d2f-8130-c6a60f0c9cc5" >
		<salesforce:basic-connection username="${salesforce.userName}" password="${salesforce.password}" securityToken="${salesforce.token}" url="${salesforce.authURL}" />
	</salesforce:sfdc-config>
	<http:listener-config name="sys-customerraml-httpListenerConfig">
        <http:listener-connection host="${api.host}" port="${api.port}" readTimeout="${api.timeout}" protocol="${api.protocol}"/>
    </http:listener-config>
    <apikit:config name="sys-customerraml-config" api="api\sys-customerraml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="2cb88b09-4d57-4abe-84d6-119c78a27da0" file="${mule.env}-cofig.yaml" />
		<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="26dbdd75-e82c-4b8b-925c-f709c7b89183" >
		<email:smtp-connection host="${email.host}" port="${email.port}" user="${email.userName}" password="${email.pass}"/>
	</email:smtp-config>
	<api-gateway:autodiscovery apiId="17731214" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="d1f2f79e-c5d7-49c6-b53a-466611f6c997" flowRef="sys-customerraml-main" />
</mule>
